@use "index" as *;

body {
  background-color: $darckblack;
  > header {
    margin-inline: auto;
    max-width: 1240px;
    max-height: 101px;
    background-color: $darckblack;
    display: flex;

    @include tablet {
      margin-left: 100px;
      max-width: 1023px;
      display: flex;
      justify-content: center;
    }
    @include mobile {
      margin-left: 200px;
      max-width: 568px;
      display: flex;
      justify-content: center;
    }
    @include mobile2 {
      margin-left: 300px;
    }

    > a {
      text-decoration: none;
      > h1 {
        font-size: 25px;
        margin-top: 42px;
        width: 151px;
        height: 54px;
        color: $aqua;
      }
    }
    > nav {
      > ul {
        display: flex;
        font-size: 16px;
        margin-left: 200px;

        @include tablet {
          font-size: 15px;
          margin-left: 90px;
        }
        @include mobile {
          font-size: 14px;
          margin-left: 10px;
        }
        > li {
          margin: 44px 40px;
          transition: 1.2s;

          @include tablet {
            margin: 44px 30px;
            width: 60px;
          }
          @include mobile {
            width: 60px;
            margin: 44px 20px;
          }

          > a {
            text-decoration: none;
            color: $white;
          }
          &:hover {
            font-size: 29px;

            @include tablet {
              font-size: 28px;
            }
            @include mobile {
              font-size: 19px;
              width: 60px;
            }
          }
        }
      }
    }
  }
  main {
    > .conteiner {
      width: 1110px;
      height: 915px;
      margin: auto;

      @include tablet {
        width: 1023px;
        height: 815px;
      }
      @include mobile {
        width: 568px;
      }
      > h1 {
        margin-left: 25%;
        font-size: 40px;
        color: $aqua;
        margin-top: 20px;

        @include tablet {
          font-size: 32px;
        }

        @include mobile {
          font-size: 24px;
          margin-left: 40% ;
          width: 400px ;
          
        }
      }

      > .conteiner2 {
        display: flex;
        flex-wrap: wrap;

        @include mobile {
          width: 600px;
          margin-left: 60px;
        }

        @include mobile2 {
          margin-left: 150px ;
        }

        > .conteiner3 {
          border-radius: 25px;
          margin-left: 50px;
          margin-top: 57px;
          width: 220px;
          height: 350px;
          background-color: $black;

          @include tablet {
            width: 180px;
            height: 300px;
          }
          @include mobile {
            width: 140px;
            height: 250px;
            margin-left: 40px;
          }

          > img {
            border-radius: 25px;
            width: 220px;
            height: 173px;

            @include tablet {
              width: 180px;
              height: 123px;
            }
            @include mobile {
              width: 140px;
              height: 93px;
            }
          }
          > h1 {
            margin-top: 10px;
            margin-left: 26px;
            color: $white;
            font-size: 20px;

            @include tablet {
              font-size: 17px;
            }
            @include mobile {
              font-size: 14px;
            }
          }
          > h3 {
            margin-left: 26px;
            color: $grey;
            margin-top: 10px;
            font-size: 13px;
            margin-bottom: 20px;
            width: 160px;
            @include tablet {
              font-size: 10px;
              width: 110px;
            }
            @include mobile {
              font-size: 9px;
              width: 90px;
            }
          }
          > h2 {
            margin-left: 26px;
            > a {
              color: $aqua;
              text-decoration: none;
            }
          }
        }
        > button {
          margin-left: 45%;
          margin-top: 50px;
          width: 150px;
          height: 30px;
          background-color: $black;
          color: $white;
          border: 2px solid $aqua;
          border-radius: 25px;
          @include tablet {
            margin-left: 43%;
          }
        }
      }
    }
    .conteiner4 {
      margin-top: 90px;
      margin-inline: auto;
      width: 1030px;
      height: 300px;
      display: flex;
      flex-wrap: wrap;
      
      @include mobile {
        margin-top: 250px ;
        width: 720px ;
      }
      @include mobile2 {
        margin-left: 150px ;
      }
      .conteiner5 {
        margin-left: 40px;
        margin-bottom: 62px;
        width: 300px;
        height: 255px;
        background-color: $black;
        border-radius: 25px;

        @include tablet {
          width: 250px;
          height: 205px;
          margin-left: 30px;
        }
        @include mobile {
          width: 180px;
          height: 155px;
          margin-left: 25px;
        }

        > img {
          margin-left: 100px;
          margin-top: 35px;

          @include tablet {
            margin-left: 70px;
          }
          @include mobile{ 
            width: 50px;
            height: 50px;
          }
        }
        > h1 {
          margin-left: 92px;
          margin-top: 25px;
          font-size: 24px;
          @include tablet {
            margin-left: 70px;
          }
          @include mobile{ 
            margin-left: 50px ;
            font-size: 17px ;
          } 

          > a {
            text-decoration: none;
            color: $white;
          }
        }
      }
    }


    .conteiner6 {
      width: 1019px;
      height: 287px;
      margin: 60px 200px;
      display: flex;

      @include tablet {
        width: 800px;
        margin: 60px 120px;
      }
      @include mobile{ 
        margin:60px 80px   ; 
      }

      @include mobile {
        width: 700px;
        margin: 60px 100px;
      }
      .conteiner7 {
        color: $white;


        a { 
          > img {
            width: 151px;
            height: 54px;
        }
        

          @include tablet {
            width: 121px;
            height: 44px;
          }

          @include mobile {
            width: 100px;
            height: 36px;
          }
        }

        .social {
          color: $white;
          font-size: 24px;
          margin-top: 20px;

          > img {
            margin-left: 20px;
            margin-top: 30px;
          }
        }
      }
      .conteiner8 {
        color: $white;
        margin-left: 160px;

        @include tablet {
          margin-left: 110px;
        }
        @include mobile {
          margin-left: 80px;
        }
        h1 {
          font-size: 32px;

          @include tablet {
            font-size: 26px;
          }
          @include mobile {
            font-size: 22px;
          }
        }

        ul {
          margin-top: 25px;

          li {
            margin-top: 20px;
            font-size: 16px;
            display: flex;

            @include tablet {
              font-size: 14px;
            }
            @include mobile {
              font-size: 12px;
            }
            img {
              margin-right: 10px;
            }
          }
        }
      }

      .conteiner9 {
        color: $white;
        margin-left: 160px;

        @include tablet {
          margin-left: 110px;
        }
        @include mobile {
          margin-left: 80px;
        }
        h1 {
          font-size: 32px;

          @include tablet {
            font-size: 26px;
          }
          @include mobile {
            font-size: 22px;
          }
        }

        input {
          margin-top: 50px;
          background-color: $black;
          border-radius: 25px;
          border: 2px solid $aqua;
          width: 233px;
          height: 50px;
          padding-left: 17px;
          color: $aqua;
          @include tablet {
            width: 200px;
            height: 40px;
          }
          @include mobile {
            width: 170px;
            height: 40px;
          }
        }

        button {
          margin-top: 35px;
          background-color: $black;
          border-radius: 25px;
          border: 2px solid $aqua;
          width: 126px;
          height: 50px;
          padding-left: 17px;
          color: $aqua;

          @include tablet {
            width: 106px;
            height: 40px;
          }
          @include mobile {
            width: 86px;
            height: 40px;
          }
        }
      }
    }
  }
}
