/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: Helvetica;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #000000;
}
body > header {
  margin-inline: auto;
  max-width: 1240px;
  max-height: 101px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) and (max-width: 1031px) {
  body > header {
    margin-left: 100px;
    max-width: 1023px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  body > header {
    margin-left: 200px;
    max-width: 568px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 490px) {
  body > header {
    margin-left: 300px;
  }
}
body > header > a {
  text-decoration: none;
}
body > header > a > h1 {
  font-size: 25px;
  margin-top: 42px;
  width: 151px;
  height: 54px;
  color: #29D9D5;
}
body > header > nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin-left: 200px;
}
@media (min-width: 768px) and (max-width: 1031px) {
  body > header > nav > ul {
    font-size: 14px;
    margin-left: 90px;
  }
}
@media (max-width: 768px) {
  body > header > nav > ul {
    font-size: 11px;
    margin-left: 10px;
  }
}
body > header > nav > ul > li {
  margin: 44px 40px;
  -webkit-transition: 1.2s;
  -o-transition: 1.2s;
  transition: 1.2s;
}
@media (min-width: 768px) and (max-width: 1031px) {
  body > header > nav > ul > li {
    margin: 44px 30px;
    width: 57px;
  }
}
@media (max-width: 768px) {
  body > header > nav > ul > li {
    width: 57px;
    margin: 44px 20px;
  }
}
body > header > nav > ul > li > a {
  text-decoration: none;
  color: #fff;
}
body > header > nav > ul > li:hover {
  font-size: 29px;
}
@media (min-width: 768px) and (max-width: 1031px) {
  body > header > nav > ul > li:hover {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  body > header > nav > ul > li:hover {
    font-size: 15px;
    width: 60px;
  }
}
body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../image/image.png);
  background-size: cover;
  height: 580px;
  margin-top: 20px;
}
@media (min-width: 768px) and (max-width: 1031px) {
  body main {
    width: 1023px;
    height: 550px;
  }
}
@media (max-width: 768px) {
  body main {
    width: 768px;
    height: 500px;
  }
}
body main .conteiner {
  margin-top: 40px;
}
body main .conteiner h1 {
  margin-left: 150px;
  font-size: 66px;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 1031px) {
  body main .conteiner h1 {
    font-size: 59px;
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  body main .conteiner h1 {
    font-size: 53px;
    margin-left: 80px;
  }
}
body main .conteiner > input {
  margin-top: 40px;
  background-color: #222;
  border-radius: 25px;
  border: 2px solid #29D9D5;
  width: 200px;
  height: 40px;
  padding-left: 17px;
  color: #29D9D5;
  font-size: 20px;
  margin-left: 30px;
}
@media (min-width: 768px) and (max-width: 1031px) {
  body main .conteiner > input {
    width: 175px;
    height: 35px;
  }
}
@media (max-width: 768px) {
  body main .conteiner > input {
    width: 150px;
    height: 30px;
  }
}
body main .conteiner ul {
  margin-top: 30px;
}
body main .conteiner ul li input {
  margin-top: 10px;
  background-color: #222;
  border-radius: 25px;
  border: 2px solid #29D9D5;
  width: 240px;
  height: 35px;
  padding-left: 17px;
  color: #29D9D5;
  font-size: 20px;
  margin-left: 30px;
}
@media (min-width: 768px) and (max-width: 1031px) {
  body main .conteiner ul li input {
    width: 210px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  body main .conteiner ul li input {
    width: 190px;
    height: 30px;
  }
}
body main .conteiner ul li button {
  margin-left: 200px;
  margin-top: 40px;
  background-color: #222;
  border-radius: 25px;
  border: 2px solid #29D9D5;
  width: 100px;
  height: 30px;
  padding-left: 10px;
  color: #29D9D5;
  font-size: 15px;
}
@media (min-width: 768px) and (max-width: 1031px) {
  body main .conteiner ul li button {
    margin-left: 150px;
  }
}
@media (max-width: 768px) {
  body main .conteiner ul li button {
    margin-left: 100px;
  }
}
body main .conteiner ul li h1 {
  margin-left: 150px;
}
@media (min-width: 768px) and (max-width: 1031px) {
  body main .conteiner ul li h1 {
    margin-left: 120px;
  }
}
@media (max-width: 768px) {
  body main .conteiner ul li h1 {
    margin-left: 70px;
  }
}
body main .conteiner ul li h1 a {
  text-decoration: none;
  font-size: 30px;
  color: #000000;
}